%h2{style: 'padding-left:20px'} Инструкция
%p
  Перед началом настройки необходимо иметь Кассу на Walletone.com,
  для этого
  = link_to 'пройти регистрацию', 'https://www.walletone.com/merchant/client/#/signup'

%br
%p
  Ваше приложение уже установлено, осталось сделать пару шагов по его настройке
%p
  Необходимо узнать данные вашего аккаунта Walletone, для этого переходим на
  = link_to 'страницу "Интеграция"', 'https://www.walletone.com/merchant/client/#/settings/integration'
  в настройках аккаунта Walletone
  = image_tag 'manual/01.jpg', size: '800x400'
%p
  В пункт "URL скрипта" вставляем "http://insales.walletone.com/walletone_result"
  = image_tag 'manual/02.jpg'
%p
  Выбираем в пункте "Метод формирования ЭЦП" MD5. Под этим названием появляется длинная строка цифр и латинских букв.
  Копируем строку в буфер обмена.
  = image_tag 'manual/03.jpg'
%p
  Переходим к
  = link_to 'настройкам приложения', "http://#{configus.host}"
  и вставляем строку в пункт под названем "ЭЦП вашей Кассы (MD5/SHA1)"
  = image_tag 'manual/04.jpg'
%p
  Снова переходим в настройки аккаунта Walletone, и копируем идентификатор магазина в буфер обмена.
  = image_tag 'manual/05.jpg'
%p
  Переходим к
  = link_to 'настройкам приложения', "http://#{configus.host}"
  и вставляем строку в пункт под названием "Идентификатор мазина Walletone"
  = image_tag 'manual/06.jpg'
%p
  Выбираем валюту установленую в вашем магазине инсейлс (проверить можно по
  =link_to 'этой ссылке', 'http://shop-9664.myinsales.ru/admin2/account_currency'
  )
%p
  Сохраняем результат
%p
  После этого необходимо нажать кнопку "Создать вид оплаты"
  Это действие создаст вид оплаты в вашем магазине инсейлс и отобразит его название в вместо кнопки создания.
  %br
  = image_tag 'manual/07.jpg'
  = image_tag 'manual/08.jpg'
%p
  Нажимаем на название метода оплаты и попадаем на его редактирование в вашем магазине.
  Необходимо выбрать привязку к способам доставки, т.е. те способы доставки при которых возможна оплата через Кассу Walletone.
  Так же вы можете поменять Название и Сообщение для пользователя. Остальные параметры не требуют вмешательства. Сохраняем результат.
  = image_tag 'manual/09.jpg'
  = image_tag 'manual/10.jpg'

%p
  Все, ваш магазин полностью настроен на использование Кассы Walletone
