.helper
  На этой странице вы можете включать все виды оплаты, которые нужны вашему магазину, отдельно.
  %br
  Посмотреть и удалить все подключеные способы можно
  = link_to 'здесь', insales_payment_gateways_url(@account)

- @payments.each do |payment_mode, payment_type_list|
  %h3= payment_mode
  .content-table
    %table.items
      %thead
        %tr
          %th Способ оплаты
          %th Идентификатор
          %th Создать вид оплаты
      
      %tbody
        - payment_type_list.each do |payment_type, payments_list|
          %tr.even
            %td
              %b= payment_type
            %td
            %td
          - payments_list.each do |payment_name, payment_id|
            %tr
              %td= payment_name
              %td= payment_id
              %td= link_to 'Создать', main_initialize_payment_gateway_path(type: payment_id, name: payment_name), method: :get
