= form_for @account, url: accounts_path, method: :patch do |f|
  = f.label :walletone_shop_id
  = f.text_field :walletone_shop_id
  %br
  = f.label :walletone_password
  = f.text_field :walletone_password
  %br
  = f.label :walletone_currency
  = f.text_field :walletone_currency
  %br
  = f.label :fail_url
  = f.text_field :fail_url
  %br
  = f.label :success_url
  = f.text_field :success_url
  = f.submit 'Сохранить'
